<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment 1</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="container">
        <h1>Add To the List</h1>
        <nav>
            <a href="index.html">Home</a>
            <a href="#">Add</a>
            <a href="contact.html">Login</a>
        </nav>
        <br>
        Item: <input type="text"><br>
        <button>Add</button>
    </div>
</body>

</html>