<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment 1</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="container">
        <h1>Maleek Beazer</h1>
        <ol>
            <li>St.Croix</li>
            <li>Boston</li>
            <li>CheeseBurger</li>
            <li>Alfredo</li>
            <li>Pizza</li>
            <li>Avengers Endgame</li>
            <li>GTA 5</li>
            <li>Call of duty</li>
            <li>Minecraft</li>
            <li>Apex Legends</li>
        </ol>
        <div style="width:400px;">
            <p>I was born in Boston but soon after I was born my damily and I decided to move to where my father was born: St.Croix. 
                So that explains the first two items on my list. The next three items on my are my top three favorite foods. The next item on my list is my hands down favorite movie.
            Lastly, the last four items on my list is my four favorite games.</p>
        </div>
        <nav>
            <a href="#">Home</a>
            <a href="about.html">Add</a>
            <a href="contact.html">Login</a>
        </nav>
        <!-- <img src="images/grogu.jpeg" alt="baby yoda" width=400> -->
        
    </div>
</body>

</html>